<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header" id="globmenu">
    <ul>
        <li th:each="path : ${paths}">
            <span th:with="msgKey=${path.replace(pathRoot,'').replace('/','')}">

                <a sec:authorize="hasRole('ARCHIVEADMIN')"
                   th:href="${path}"
                   th:text="#{'globmenu.path.' + ${msgKey}}">Link</a>

                <span sec:authorize="!hasRole('ARCHIVEADMIN')" class="disabled"
                      th:text="#{'globmenu.path.' + ${msgKey}}">Link</span>

            </span>
        </li>
    </ul>
</div>