<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layout}">
<head>
    <title th:text="#{web1.title}">Web</title>
</head>
<body onload="document.getElementById('homeLink').href = window.location.pathname.substring(0, window.location.pathname.indexOf('/', 1) + 1) || '/'">

<nav layout:fragment="header">
    <div>
        <a id="homeLink" href="/">Home</a>
    </div>
</nav>
<footer layout:fragment="footer">
    <p>--- footer web1 ---</p>
</footer>

</body>
</html>