<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{global/layout}">
<head>
    <title th:text="#{login.title}">Login</title>
</head>
<body>

<main layout:fragment="content">
    <div class="container">
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="#{login.error}">
            Login was incorrect. Please try it again.
        </div>
        <div th:if="${logout}" class="alert alert-primary" role="alert" th:text="#{login.logout}">
            You have been logged out.
        </div>

        <form class="form-signin" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading" th:text="#{login.header}">Please sign in</h2>
            <p>
                <label for="username" class="sr-only" th:text="#{login.username}">Username</label>
                <input type="text" id="username" name="username" class="form-control" th:placeholder="#{login.username}" placeholder="Username" required
                       autofocus/>
            </p>
            <p>
                <label for="password" class="sr-only" th:text="#{login.password}">Password</label>
                <input type="password" id="password" name="password" class="form-control" th:placeholder="#{login.password}" placeholder="Password" required/>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-login" th:text="#{login.button}">Sign in</button>
        </form>
    </div>
</main>

</body>
</html>