<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{webidx/fragments/layout}">
<body>
<main layout:fragment="content">
    <h1 th:text="#{webidx.title}">Web</h1>

    <p>Logged user: <em sec:authentication="name">N/A</em></p>

    <ul>
        <li th:each="path : ${paths}">
            <a th:with="msgKey=${path.replace(pathRoot,'').replace('/','')}"
               th:href="${path}"
               th:text="#{'webidx.path.' + ${msgKey}}">Link</a>
            <span sec:authorize="hasRole('ARCHIVEADMIN')">authorized</span>
        </li>
    </ul>
</main>
</body>
</html>